body {
    font-family: 'Raleway', arial, sans-serif;
    font-style: 800;
    text-align: center;
}

.wrapper {
    width: 600px;
    margin: 0 auto;
    background: rgb(204, 129, 119);
    text-align: center;
}

.button {
    margin-left: 5px;
}

.game-menu {
    display: none;
}
